{% extends "user/layouts/contests/detail_layout.html" %}
{% block contestDetailContent %}
    <div class="row">
        <div class="offset-4 col-4">
            {% include "user/components/contests/submissions/submit_button.html" %}
        </div>
        <div class="col-6">
            {% include "user/components/contests/details.html" %}
        </div>
        <div class="col-6">
            {% include "user/components/contests/submissions/status.html" %}
        </div>
        <div class="col-6">
            {% include "user/components/contests/teams/members.html" %}
        </div>
        <div class="col-12">
            {% include "user/components/contests/single_ranking.html" %}
        </div>
        <div class="col-12">
            {% include "user/components/contests/submissions/history.html" %}
        </div>
    </div>
{% endblock %}