{% load crispy_forms_tags %}
<div class="card border rounded shadow-sm mb-4 mt-4">
    <div class="card-body">
        <h5 class="car-title mb-2 text-primary">Test specifications for test #{{ admin_test_specification_form.test.id }} {{ admin_test_specification_form.test.name }}</h5>
        <form method='POST' action='' enctype='multipart/form-data'> {% csrf_token %}
            {{ admin_test_specification_form.form|crispy }}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>