<div class="card shadow">
    <div class="card-header text-center py-3">
        <h5 class="m-0 font-weight-bold text-primary">Your Groups</h5>
    </div>
    <div class="card-body text-center">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Group</th>
            </tr>
            </thead>
            <tbody>
            {% for o in user_group_list.groups %}
                <tr>
                    <td scope="row">
                        <a href="{% url 'user_groups_detail_dashboard' o.id %}">
                            {{ o.name }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

