<div class="card shadow">
    <div class="card-header text-center py-3">
        <h5 class="m-0 font-weight-bold text-primary">Your Groups</h5>
    </div>

    {% if user_group_list.groups %}
        <ul class="list-group list-group-flush">
            {% for o in user_group_list.groups %}
                <li class="list-group-item text-center">
                    <a href="{% url 'user_groups_detail_dashboard' o.id %}">
                        {{ o.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="card-body text-center">
            You don't have any groups.
        </div>
    {% endif %}


</div>

