{% load crispy_forms_tags %}
<div class="row">
    <div class="col-12">
        <div class="alert alert-info">
            <h5>Create or join a team</h5>
            You can create a team if your partners haven't already, or you can join their team by introducing their team's join code.
        </div>
    </div>
    <div class="offset-4 col-4">
        <form method="POST" action=""> {% csrf_token %}
            <div class="pb-3">
                {{ team_join_form.create_form | crispy }}
            </div>
            <div>
                <button class="btn btn-primary btn-block py-3" type="submit" name="submit_create_form" >
                    <i class="fas fa-plus-circle"></i>
                    Create a team
                </button>
            </div>
        </form>
    </div>
    <div class="offset-4 col-4">
        <div class="row">
            <div class="col-5 p-2">
                <hr>
            </div>
            <div class="col-2 text-center p-2">Or</div>
            <div class="col-5 p-2">
                <hr>
            </div>
        </div>

    </div>
    <div class="offset-4 col-4">
        <form method="POST" action=""> {% csrf_token %}
            <div class="pb-3">
                {{ team_join_form.join_form | crispy }}
            </div>
            <input type="hidden" name="join_form_submit" value="1">
            <div>
                <button class="btn btn-primary btn-block py-3" type="submit" name="submit_join_form">
                    <i class="fas fa-sign-in"></i>
                    Join a team
                </button>
            </div>
        </form>
    </div>


</div>

