<div class="card shadow">
    <div class="card-header text-center py-3">
        <div class="row px-3">
            <div class="offset-4 col-4 pt-1">
                <h5 class="m-0 font-weight-bold text-primary">Team: {{ team_members.team.name }}</h5>
            </div>
            <div class="col-4">
                <button class="btn btn-sm btn-info float-right" id="teamJoinCode" data-placement="top" title=""
                        code="{{ team_members.team.join_code }}">
                    Copy join code
                </button>
            </div>
        </div>
    </div>
    <div class="card-body text-center">
        <table class="table table-borderless">
            <tbody>
            {% for m in team_members.team.getUsers %}
                <tr>
                    <td>{{ m.username }}</td>
                    <td>{{ m.profile.number }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    function copyToClipboard(textToCopy, callback) {
        try {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val(textToCopy).select();
            document.execCommand("copy");
            $temp.remove();
            callback(true);
        } catch (e) {
            callback(false);
        }
    }

    $(function () {
        $("#teamJoinCode").on("click", function (e) {
            e.preventDefault()
            $(this).tooltip("hide")
            copyToClipboard($(this).attr("code"), function (done) {
                if (done) {
                    $("#teamJoinCode").attr("title", "Join code copied to clipboard!").tooltip("show");
                } else {
                    $("#teamJoinCode").tooltip("hide")
                }
            })
        })
    })
</script>