{% extends "admin/layouts/contests/detail_layout.html" %}
{% block contestDetailContent %}
    <div class="col-12">
        <div>
            <a class="btn btn-primary btn-sm {% if 'create' not in request.path and 'edit' not in request.path %}active{% endif %}" type="button"
               href="{% url 'manager_contests_detail_tests'  admin_contest_detail_layout.contest.id %}">Dashboard
            </a>
            <a class="btn btn-primary btn-sm {% if 'edit' in request.path and 'edit/' not in request.path %}active{% endif %}"
               type="button"
               href="{% url 'manager_contests_detail_tests_list_edit'  admin_contest_detail_layout.contest.id %}">Test
                Manager
            </a>
            <a class="btn btn-primary btn-sm {% if 'create' in request.path %}active{% endif %}" type="button"
               href="{% url 'manager_contests_detail_tests_create'  admin_contest_detail_layout.contest.id %}">Create
                Test</a>
        </div>
    </div>
    {% block testContent %}
    {% endblock %}
{% endblock %}
