{% extends "admin/layouts/contests/teams/detail_layout.html" %}
{% block teamContent %}
    <div class="row">
        <div class="offset-3 col-6">
            {% include "admin/components/contests/teams/detail.html" %}
        </div>
        <div class="col-3">
            {% include "admin/components/contests/teams/date_exception_form.html" %}
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-12">
            {% include 'admin/components/contests/submissions/list.html' %}
        </div>
    </div>
{% endblock %}