{% load static from staticfiles %}

<div class="row justify-content-center align-items-center mb-3">
    {% if team_submission_details.attempt.getTimedOutClassifications.count >= 2 %}
        <div class="col-12">
            <div class="alert alert-info">
                You've reached the maximum timeouts possible. Some tests might not have been ran.
            </div>
        </div>
    {% endif %}
    <div class="col-lg-6">
        <div class="card shadow">
            <div class="card-header text-center py-3">
                <h5 class="m-0 font-weight-bold text-primary">
                    Results summary for attempt #{{ team_submission_details.attempt.id }}
                </h5>
            </div>
            <div class="card-body text-center">
                <table class="table table-responsive-sm">
                    <tbody>
                    <tr>
                        <td>Compilation</td>
                        <td>{% if team_submission_details.attempt.compile_error %}0/1{% else %}1/1{% endif %}</td>
                        <td>
                            <h5 class="m-0 p-0 text-{% if team_submission_details.attempt.compile_error %}danger{% else %}success{% endif %}">
                                <i class="fas fa-{% if team_submission_details.attempt.compile_error %}times-circle{% else %}check-circle{% endif %}"></i>
                            </h5>
                        </td>
                        <td>
                            {% if team_submission_details.attempt.compile_error %}
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                        data-target="#modal-compilation">Show
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Mandatory Tests</td>
                        <td>{{ team_submission_details.mandatory_passed }}/{{ team_submission_details.mandatory_total }}</td>
                        <td>
                            <h5 class="m-0 p-0 text-{% if team_submission_details.mandatory_passed < team_submission_details.mandatory_total %}danger{% else %}success{% endif %}">
                                <i class="fas fa-{% if team_submission_details.mandatory_passed < team_submission_details.mandatory_total %}times-circle{% else %}check-circle{% endif %}"></i>
                            </h5>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>General Tests</td>
                        <td>{{ team_submission_details.n_passed }}/{{ team_submission_details.n_total }}</td>

                        <td>
                            <h5 class="m-0 p-0 text-{% if team_submission_details.n_passed < team_submission_details.n_total %}danger{% else %}success{% endif %}">
                                <i class="fas fa-{% if team_submission_details.n_passed < team_submission_details.n_total %}times-circle{% else %}check-circle{% endif %}"></i>
                            </h5>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Classification</td>
                        <td>{{ team_submission_details.attempt.grade }}</td>
                        <td>
                            <h5 class="m-0 p-0 text-{% if team_submission_details.attempt.grade < 10 %}danger{% elif team_submission_details.attempt.grade < 10 and team_submission_details.attempt.grade > min_grade %}warning{% else %}success{% endif %}">
                                <i class="fas fa-{% if team_submission_details.attempt.grade < 10 %}times-circle{% elif team_submission_details.attempt.grade < 10 and team_submission_details.attempt.grade > min_grade %}exclamation-triangle{% else %}check-circle{% endif %}"></i>
                            </h5>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Static Analysis</td>
                        <td></td>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                    data-target="#modal-analysis">Show
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center align-items-center">
    <div class="col-lg-12">
        <div class="card shadow">
            <div class="card-header text-center py-3">
                <h5 class="m-0 font-weight-bold text-primary">
                    Detailed Results
                </h5>
            </div>
            <div class="card-body text-center">
                <table class="table table-responsive-lg">
                    <thead>
                    <tr>
                        <th>Test #</th>
                        <th>Weight</th>
                        <th>Time(ms) / Mem(kiB)</th>
                        <th>Type</th>
                        <th>Passed</th>
                        <th>Error</th>
                        <th>Args</th>
                        <th>Input</th>
                        <th>Exp./Obt.</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for r in team_submission_details.results %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ r.test.weight_pct|floatformat }} &#37;</td>
                            <td>{{ r.elapsed_time|floatformat:"0" }} / {{ r.memory_usage }}</td>
                            <td>{% if r.test.mandatory %}Mandatory{% else %}General{% endif %}</td>
                            <td>{% if r.passed %}<i class="fas fa-check-circle text-success"></i>{% else %}
                                <i class="fas fa-times-circle text-danger"></i>{% endif %}</td>
                            <td>
                                {% if r.test.view_error %}
                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                            data-target="#modal-error{{ forloop.counter }}">More
                                    </button>
                                {% endif %}
                            </td>
                            <td>
                                {% if r.test.view_args %}
                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                            data-target="#modal-cmd{{ forloop.counter }}">Args
                                    </button>
                                {% endif %}
                            </td>
                            <td>
                                {% if r.test.view_input %}
                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                            data-target="#modal-input{{ forloop.counter }}">Input
                                    </button>
                                {% endif %}
                            </td>
                            <td>
                                {% if r.test.view_diff %}
                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                            data-target="#modal-expected{{ forloop.counter }}">Open
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-xl" id="modal-compilation" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Compilation Errors</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre>{{ team_submission_details.attempt.error_description }}</pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-xl" id="modal-analysis" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Static Analysis</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre>{{ team_submission_details.attempt.static_analysis }}</pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% for r in team_submission_details.results %}
    {% if r.test.view_input %}
        <div class="modal fade bd-example-modal-xl" id="modal-input{{ forloop.counter }}" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Input</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <pre>{{ r.input }}</pre>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if r.test.view_args %}
        <div class="modal fade bd-example-modal-xl" id="modal-cmd{{ forloop.counter }}" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Args</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% if r.run_arguments %}
                            <pre>{{ r.run_arguments }}</pre>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if r.test.view_diff %}
        <div class="modal fade bd-example-modal-xl" id="modal-expected{{ forloop.counter }}" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="col-md-4">
                            <h5 class="modal-title">Expected</h5>
                        </div>
                        <div class="col-md-4">
                            <h5 class="modal-title">Obtained</h5>
                        </div>
                        <div class="col-md-4">
                            <h5 class="modal-title">Smash</h5>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4">
                                <del style="background:#ffe6e6;"></del>
                                <span>
							{{ r.expected_output }}
						</span>
                            </div>
                            <div class="col-md-4">
                                <del style="background:#ffe6e6;"></del>
                                <span>
							{{ r.output }}
						</span>
                            </div>
                            <div class="col-md-4">
                                {% autoescape off %}{{ r.diff }}{% endautoescape %}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if r.test.view_error %}
        <div class="modal fade" id="modal-error{{ forloop.counter }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Error Description</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <pre>{{ r.error_description }}</pre>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
