<div class="card border rounded shadow-sm mb-4 mt-4">
    <div class="card-body text-center">
        <h5 class="car-title mb-2 text-primary">Current Status</h5>
        <p class="card-text mb-auto">

            <table class="table">
                <tbody>
                    <tr>
                        <td>Classification</td>
                        <td>{{ team_submission_status.last_classification }}</td>
                    </tr>
                    <tr>
                        <td>Number of Submissions</td>
                        <td>{{ team_submission_status.number_of_submitions }}</td>
                    </tr>
                    <tr>
                        <td>Time Benchmark</td>
                        <td>{{ team_submission_status.last_execution_time }} (ms)</td>
                    </tr>
                    <tr>
                        <td>Memory Benchmark</td>
                        <td>{{ team_submission_status.last_memory_usage }} (kiB)</td>
                    </tr>
                    <tr>
                        <td>File</td>
                        {% if download %}
                        <td><a href="{{ team_submission_status.download.url }}">download</a></td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </p>
    </div>
</div>