{% if contest_submit_attempt_button.team %}
    {% if contest_submit_attempt_button.team.canSubmit %}
        {% if contest_submit_attempt_button.contest.max_submitions > 0 and contest_submit_attempt_button.team.getAttempts.count >= contest_submit_attempt_button.contest.max_submitions %}
            <div class="alert alert-danger text-center">You are out of submissions for this contest.</div>
        {% else %}
            <a class="btn btn-primary w-100 py-3"
               href="{% url 'contest_attempt_form_view' contest_submit_attempt_button.contest.id %}">
                <i class="fas fa-plus-circle"></i>
                Submit new attempt
            </a>
        {% endif %}
    {% else %}
        <div class="alert alert-warning text-center">This contest is closed. Please contact the administrator.</div>
    {% endif %}
{% else %}
    <div class="alert alert-danger w-100 py-3 text-center">
        You need to
        <a href="{% url 'user_contest_team_join_view' contest_submit_attempt_button.contest.id %}">create or join</a>
        a team before submitting.
    </div>
{% endif %}