{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
    <div class="container-fluid">
        <div class="login-form text-center">
            <div class="row">
                <div class="offset-lg-5 col-lg-2">
                    {% if error %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endif %}

                    <img class="mb-4" src="{% static 'logo3.png' %}" alt="Pandora logo" id="logo">
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

                    <form class="form-signin" action="" method="POST"> {% csrf_token %}
                        <label for="inputUsername" class="sr-only">Username</label>
                        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required
                               autofocus name="username">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
                               name="password">
                        <!--
                        <div class="checkbox mb-3">
                            <label>
                                  <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>
                        -->
                        <hr>
                        <button class="btn btn-md btn-primary btn-block" type="submit">Login</button>
                        <a class="btn btn-md btn-block btn-secondary" href="{% url 'social:begin' 'github' %}">
                            <i class="fab fa-github"></i> Sign in with GitHub
                        </a>
                        {% comment %}
                        <hr>
                        <div class="text-center">
                            Don't have an account? Register&nbsp;<a href="{% url 'register' %}">here</a>.
                        </div>
                        {% endcomment %}
                        <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}