{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}
{% block content %}
    <div class="container-fluid">
        <div class="signup-form">
            <div class="row">
                <div class="offset-5 col-2">
                    <div class="text-center">
                        {% if error %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endif %}

                        <img class="mb-4" src="{% static 'logo3.png' %}" alt="Pandora logo" id="logo">
                        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
                    </div>

                    <form class="form-signin" action="" method="POST"> {% csrf_token %}
                        {{ userForm|crispy }}
                        {{ profileForm|crispy }}
                        <hr>
                        <button class="btn btn-md btn-primary btn-block" type="submit">Sign Up</button>
                        <br>
                        <div class="text-center">
                            Already have an account? Login&nbsp;<a href="{% url 'login' %}">here</a>.
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}