{% extends "admin/layouts/base_layout.html" %}
{% block pageContent %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Users</li>
        </ol>
    </nav>
    <div class="container-fluid">
        <nav class="navbar navbar-expand nav-pills">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContestUser"
                    aria-controls="navbarContestUser" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContestUser">
                <a class="nav-link active" href="">
                    <i class="fas fa-plus-circle"></i>
                    Create User
                </a>
            </div>
        </nav>

        <hr>
        {% include "admin/components/users/list.html" %}
    </div>
{% endblock %}