{% extends "admin/layouts/base_layout.html" %}
{% block pageContent %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Users</li>
        </ol>
    </nav>
    <div class="container-fluid">
        <a class="btn btn-primary btn-sm" href="{% url 'admin_users_user_form_create' %}"><i class="fas fa-plus-circle"></i> Create User</a>
        <button class="btn btn-primary btn-sm is-checkbox-select-btn-users-table submit-btn-users-table" disabled value="validate"><i class="fas fa-check"></i> Validate selected</button>
        <button class="btn btn-primary btn-sm is-checkbox-select-btn-users-table submit-btn-users-table" disabled value="invalidate"><i class="fas fa-times"></i> Invalidate selected</button>
        <hr>
        {% include "admin/components/users/list.html" %}
    </div>
{% endblock %}