{% extends "admin/layouts/users/non_detail_layout.html" %}
{% block userContent %}
    <div class="row pb-3">
        <div class="col-lg-12">
            <a class="btn btn-primary btn-sm" href="{% url 'admin_users_user_form_create' %}"><i
                    class="fas fa-plus-circle"></i> Create User</a>
            <button class="btn btn-primary btn-sm is-checkbox-select-btn-users-table submit-btn-users-table" disabled
                    value="validate"><i class="fas fa-check"></i> Validate selected
            </button>
            <button class="btn btn-primary btn-sm is-checkbox-select-btn-users-table submit-btn-users-table" disabled
                    value="invalidate"><i class="fas fa-times"></i> Invalidate selected
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% include "admin/components/users/list.html" %}
        </div>
    </div>
{% endblock %}