{% extends "user/layouts/contests/detail_layout.html" %}
{% block contestDetailContent %}
    <div class="row pb-3">
        <div class="offset-lg-4 col-lg-4">
            {% include "user/components/contests/submissions/submit_button.html" %}
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-lg-6 pb-3">
            {% include "user/components/contests/details.html" %}
        </div>
        <div class="col-lg-6">
            {% include "user/components/contests/submissions/status.html" %}
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-lg-5 pb-3">
            {% include "user/components/contests/teams/members.html" %}
        </div>
        <div class="col-lg-7">
            {% include "user/components/contests/single_ranking.html" %}
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-lg-12">
            {% include "user/components/contests/submissions_progress_graph.html" %}
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-lg-12">
            {% include "user/components/contests/submissions/history.html" %}
        </div>
    </div>
{% endblock %}