{% load crispy_forms_tags %}
<div class="card border rounded shadow-sm">
    <div class="card-body">
        {% if message and type %}
            <div class="alert alert-{{ type }}">{{ message }}</div>
        {% endif %}
        <form action="" method="POST"> {% csrf_token %}
            <div>
                <h4>User info</h4>
                <hr>
                {{ admin_users_form.userForm|crispy }}
            </div>
            <div class="pt-2">
                <h4>Student info</h4>
                <hr>
                {{ admin_users_form.profileForm|crispy }}
            </div>
            <button type="submit" class="btn btn-success btn-block">Save</button>
        </form>
    </div>
</div>