<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-4">
                <h6 class="m-0 font-weight-bold text-primary">Users</h6>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form id="user-form" action="" method="POST">{% csrf_token %}
            <input type="hidden" id="user-form-action" name="action" value="">
            <div class="table-responsive">

                <table class="table table-bordered table-hover dataTablePandora" width="100%" cellspacing="0">
                    <tbody>
                    {% for user in admin_users_list.users %}
                        <tr>
                            <td class="text-center">
                                <input type="checkbox" class="select-user" name="user_id" value="{{ user.id }}">
                            </td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.get_full_name }}</td>
                            <td>{{ user.profile.getNumber }}</td>
                            <td>
                                <i class="fas fa-{% if user.profile.isValid %}check-circle{% else %}times-circle{% endif %} {% if user.profile.isValid %}text-success{% else %}text-danger{% endif %}">
                                    <span hidden>{% if user.profile.isValid %}0{% else %}1{% endif %}</span>
                                </i>
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="{% url 'admin_users_user_form' user.id %}">
                                    <i class="fas fa-pen"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <thead>
                    <tr>
                        <th class="text-center"><input type="checkbox" class="select-all-users-table"></th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Is Valid</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </form>
    </div>
</div>
<script>
    $(".select-all-users-table").click(function (e) {
        $(".select-all-users-table").prop('checked', this.checked);
        $(".select-user").prop('checked', this.checked);
        $(".is-checkbox-select-btn-users-table").prop('disabled', !($(".select-user:checked").length > 0));
    });
    $(".select-user").click(function (e) {
        let selectedCheckboxes = $(".select-user:checked")
        if (selectedCheckboxes.length === $(".select-user").length) {
            $(".select-all-users-table").prop('checked', true);
        } else {
            $(".select-all-users-table").prop('checked', false);
        }
        $(".is-checkbox-select-btn-users-table").prop('disabled', !(selectedCheckboxes.length > 0));
    })
    $(".submit-btn-users-table").click(function (e) {
        $("#user-form-action").val($(this).val())
        $("#user-form").submit()
    })
</script>