{% extends "admin/layouts/contests/detail_layout.html" %}
{% block contestContent %}
    {% comment %}
        <a class="btn btn-sm btn-info" href="{{ contest_detail_layout.contest.get_absolute_url }}grades-downloader/"><i class="fas fa-file-csv"></i> Extract grades</a>
        <a class="btn btn-sm btn-info" href="{{ contest_detail_layout.contest.get_absolute_url }}zip-downloader/"><i class="fas fa-file-archive"></i> Extract Files</a>
    {% endcomment %}
    <div class="row">
        {% include 'admin/components/contests/dashboard_cards.html' %}
    </div>
{% endblock %}