<div class="jumbotron text-white rounded bg-dark mt-4">
	<h1 class="display-4 font-italic">Contest is Closed</h1>
	<div class="mb-1 text-muted">From {{ contest_closed_error.contest.start_date }} to {{ contest_closed_error.contest.end_date }}</div>
	<div class="mb-1 text-muted">Min team elements = {{ contest_closed_error.contest.min_team_members }}, max team elements={{ contest_closed_error.contest.max_team_members }}</div>
	<div class="mb-1 text-muted">Maximum classification: {{ contest_closed_error.contest.max_classification }}</div>
	<p class="lead my-3">No description Available at this time</p>
</div>
