<form method='POST' action='../../contest' enctype='multipart/form-data'> {% csrf_token %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">{{ message|safe }}</div>
        {% endfor %}
    {% endif %}

    {% for o in object_list %}
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="card border rounded shadow-sm mb-4 mt-4">
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col-md-8">

                                <h5 class="car-title mb-2 text-primary" style="float: left">
                                    {{ o.title }} / {{ o.short_name }}
                                </h5>

                            </div>
                            <div class="col-md-4">

                                <button class="btn btn-secondary" style="float: right" name="team_id"
                                        type='submit' value="{{ team.id }}">
                                    Team status
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</form>
