{% extends "admin/layouts/groups/non_detail_layout.html" %}
{% block groupDetailBreadcrumbs %}
    <li class="breadcrumb-item active">
        <a href="{% url 'admin_group_detail_dashboard' admin_group_detail_layout.group.id %}">{{ admin_group_detail_layout.group.name }}</a>
    </li>
    {% block subGroupBreadcrumbs %}
    {% endblock %}
{% endblock %}
{% block groupContent %}
    <div class="row pb-3">
        <div class="col-lg-12">
            <a class="btn btn-primary btn-sm {% if '/users' not in request.path and '/contests' not in request.path and '/edit' not in request.path %}active{% endif %}"
               href="{% url 'admin_group_detail_dashboard' admin_group_detail_layout.group.id %}"><i
                    class="fas fa-chart-line"></i> Dashboard</a>
            <a class="btn btn-primary btn-sm {% if '/users' in request.path %}active{% endif %}"
               href="{% url 'admin_group_users_manager' admin_group_detail_layout.group.id %}">Users</a>
            <a class="btn btn-primary btn-sm {% if '/contests' in request.path %}active{% endif %}"
               href="{% url 'admin_group_contests_manager' admin_group_detail_layout.group.id %}">Contests</a>
            <a class="btn btn-warning btn-sm {% if '/edit' in request.path %}active{% endif %}"
               href="{% url 'admin_group_edit' admin_group_detail_layout.group.id %}"><i class="fas fa-pencil-alt"></i>
                Edit</a>
        </div>
    </div>
    {% block groupDetailContent %}
    {% endblock %}
{% endblock %}
