{% load helpers %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <i type="button" class="fas fa-question-circle bg-gray float-right" data-bs-toggle="tooltip"
           data-bs-placement="top"
           title="This graph displays the average grade of (up to) the 5 most recent contests.">
        </i>
        <h6 class="m-0 font-weight-bold text-primary">Average grade per contest</h6>
    </div>
    <div class="card-body">
        <div class="chart-bar">
            <canvas id="gradesAvgCard"></canvas>
        </div>
    </div>
</div>


<script>
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';

    var ctx = document.getElementById("gradesAvgCard");
    var myBarChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ admin_dashboard_grades_avg.labels | safe}},
            datasets: [
                {
                    'label': "Nota",
                    'lineTension': 0.3,
                    'backgroundColor': "rgba(78, 115, 223, 0.05)",
                    'borderColor': "rgba(78, 115, 223, 1)",
                    'pointRadius': 3,
                    'pointBackgroundColor': "rgba(78, 115, 223, 1)",
                    'pointBorderColor': "rgba(78, 115, 223, 1)",
                    'pointHoverRadius': 3,
                    'pointHoverBackgroundColor': "rgba(78, 115, 223, 1)",
                    'pointHoverBorderColor': "rgba(78, 115, 223, 1)",
                    'pointHitRadius': 10,
                    'pointBorderWidth': 2,
                    'data': {{ admin_dashboard_grades_avg.data | safe}},
                }
            ],
        },
        options: {
            maintainAspectRatio: false,
            layout: {
                padding: {
                    left: 10,
                    right: 25,
                    top: 25,
                    bottom: 0
                }
            },
            scales: {
                xAxes: [{
                    time: {
                        unit: 'date'
                    },
                    gridLines: {
                        display: false,
                        drawBorder: false
                    }
                }],
                yAxes: [{

                    ticks: {
                        maxTicksLimit: 5,
                        padding: 10,
                        min: 0,
                        max: 20,
                    },
                    gridLines: {
                        color: "rgb(234, 236, 244)",
                        zeroLineColor: "rgb(234, 236, 244)",
                        drawBorder: false,
                        borderDash: [2],
                        zeroLineBorderDash: [2]
                    },
                }],
            },
            legend: {
                display: false
            },
            tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                titleMarginBottom: 10,
                titleFontColor: '#6e707e',
                titleFontSize: 14,
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                intersect: false,
                mode: 'index',
                caretPadding: 10
            }
        }
    });
</script>