{% extends "user/layouts/area_layout.html" %}
{% block pageContent %}
    <h3>Dashboard</h3>
    <hr>
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            {% include 'user/components/dashboard/number_card.html' %}
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-6">
            {% include 'user/components/dashboard/recent_contests_progress.html' %}
        </div>
        <div class="col-6">
            {% include 'user/components/dashboard/grades_graph.html' %}
        </div>
    </div>


{% endblock %}