<canvas id="myChart"></canvas>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            // X axis
            labels: {{ user_grades_dashboard.labels | safe }},
            // Y axis
            datasets: {{ user_grades_dashboard.datasets | safe }}
        },
        options: {
            responsive:true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>