{% extends "user/layouts/groups/non_detail_layout.html" %}
{% block groupDetailBreadcrumbs %}
    {% if user_group_detail_layout.group %}
        <li class="breadcrumb-item active">
            <a href="{% url 'user_groups_detail_dashboard' user_group_detail_layout.group.id %}">{{ user_group_detail_layout.group.name }}</a>
        </li>
    {% endif %}
    {% if user_group_detail_layout.subpage %}
        <li class="breadcrumb-item " aria-current="page">{{ user_group_detail_layout.subpage }}</li>
    {% endif %}
{% endblock %}
{% block groupContent %}
    {% block groupDetailContent %}
    {% endblock %}
{% endblock %}