{% extends "admin/layouts/groups/non_detail_layout.html" %}
{% block groupContent %}
    <div class="row pb-3">
        <div class="col-lg-12">
            <a class="btn btn-sm btn-primary" href="{% url 'admin_group_create' %}">
                <i class="fas fa-plus-circle"></i>
                Create Group
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% include "admin/components/groups/list.html" %}
        </div>
    </div>
{% endblock %}