{% load helpers %}
<div class="row">
    <div class="col-lg-6 pb-3 pb-lg-0">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-success">Open Contests</h6>
            </div>
            <div class="card-body">
                {% list_has_open_contests contest_list.contests as has_open_contests %}
                {% if has_open_contests %}
                    <table class="table table-responsive-md">
                        <thead>
                        <tr>
                            <th scope="col">Contest</th>
                            <th scope="col">Start</th>
                            <th scope="col">End</th>
                            <th scope="col">Time Left</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for o in contest_list.contests %}
                            {% if o.isOpen %}
                                <tr>
                                    <td scope="row"><a
                                            href="{% url 'user_contests_detail_dashboard' o.id %}">{{ o.title }}</a>
                                    </td>
                                    <td>{{ o.start_date }}</td>
                                    <td>{{ o.end_date }}</td>
                                    <td>{{ o.end_date|timeuntil }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No open contests are available.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-6 pb-3 pb-lg-0">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-danger">Closed Contests</h6>
            </div>
            <div class="card-body">
                {% list_has_closed_contests contest_list.contests as has_closed_contests %}
                {% if has_closed_contests %}
                    <table class="table table-responsive-md">
                        <thead>
                        <tr>
                            <th scope="col">Contest</th>
                            <th scope="col">Start</th>
                            <th scope="col">End</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for o in contest_list.contests %}
                            {% if not o.isOpen %}
                                <tr>
                                    <td scope="row"><a
                                            href="{% url 'user_contests_detail_dashboard' o.id %}">{{ o.title }}</a>
                                    </td>
                                    <td>{{ o.start_date }}</td>
                                    <td>{{ o.end_date }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No closed contests are available.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
