<div class="card shadow">
    <div class="card-header text-center py-3">
        <h5 class="m-0 font-weight-bold text-primary">Rankings</h5>
    </div>
    <div class="card-body text-center">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Place #</th>
                    <th>Team</th>
                    <th>Grade</th>
                    <th>Time</th>
                    <th>Memory</th>
                    {% comment %}
                    <th>Submissions</th>
                    {% endcomment %}
                </tr>
                </thead>
                <tbody>
                {% for a in contest_rankings.attempts %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ a.team.name }}</td>
                        <td>{{ a.grade }}</td>
                        <td>{{ a.time_benchmark }} (ms)</td>
                        <td>{{ a.memory_benchmark }} (kiB)</td>
                        {% comment %}
                        <td>{{ a.atempts }}</td>
                        {% endcomment %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>