{% extends "admin/layouts/base_layout.html" %}
{% block pageContent %}
    <h3>Dashboard</h3>
    <hr>
    <div class="row mb-4">
        <div class="col-3">
            {% include 'admin/components/dashboard/active_users_card.html' %}
        </div>
        <div class="col-3">
            {% include 'admin/components/dashboard/active_contests_card.html' %}
        </div>
        <div class="col-3">
            {% include 'admin/components/dashboard/last_submissions_card.html' %}
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-3">
            {% include 'admin/components/dashboard/grades_avg_graph.html' %}
        </div>
    </div>
{% endblock %}