{% extends "user/layouts/contests/non_detail_layout.html" %}
{% block subContestBreadcrumbs %}
    {% if contest_detail_layout.contest %}
        <li class="breadcrumb-item active">
            <a href="{% url 'user_contests_detail_dashboard' contest_detail_layout.contest.id %}">{{ contest_detail_layout.contest.short_name }}</a>
        </li>
    {% endif %}
    {% if contest_detail_layout.subpage %}
        <li class="breadcrumb-item " aria-current="page">{{ contest_detail_layout.subpage }}</li>
    {% endif %}
{% endblock %}
{% block contestBelowBreadcrumbs %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
        <h5>{{ contest_detail_layout.contest.title }}</h5>
    </div>
{% endblock %}
{% block contestContent %}
    {% block contestDetailContent %}
    {% endblock %}
{% endblock %}