.login-form{
  margin-top: 150px;
}

.login-form .form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.login-form .form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.login-form .form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.signup-form{
  margin-top: 60px;
}

.signup-form .form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
