{% extends "admin_area_layout.html" %}
{% block pageContent %}
     <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                <a href="{% url 'user_contests_home' %}">Contests</a>
            </li>
            {% if admin_contest_detail_layout.contest %}
            <li class="breadcrumb-item active">
                <a href="{% url 'user_contests_detail_dashboard' contest_detail_layout.contest.id %}">{{ contest_detail_layout.contest.short_name }}</a>
            </li>
            {% endif %}
            {% if admin_contest_detail_layout.subpage %}
            <li class="breadcrumb-item " aria-current="page">{{ contest_detail_layout.subpage }}</li>
            {% endif %}
        </ol>
    </nav>
    <div class="container-fluid">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h5>{{ admin_contest_detail_layout.contest.short_name }}
                - {{ admin_contest_detail_layout.contest.title }}</h5>
        </div>
        <nav class="navbar navbar-expand nav-pills">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContestUser"
                    aria-controls="navbarContestUser" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContestUser">
                <a class="nav-link mr-2 {% if '/tests' not in request.path and '/teams' not in request.path %}active{% endif %}"
                   href="/manager/contests/{{ admin_contest_detail_layout.contest.id }}">
                    Dashboard
                </a>
                <a class="nav-link mr-2 {% if '/tests' in request.path %}active{% endif %}"
                   href="/manager/contests/{{ admin_contest_detail_layout.contest.id }}/tests">
                    Tests
                </a>
                <a class="nav-link mr-2 {% if '/teams' in request.path %}active{% endif %}"
                   href="/manager/contests/{{ admin_contest_detail_layout.contest.id }}/teams">
                    Teams
                </a>
            </div>
        </nav>
        <hr>
        {% block contestDetailContent %}
        {% endblock %}
    </div>

{% endblock %}
