{% extends "layout/contest_detail_layout.html" %}
{% block contestDetailContent %}
    <div class="row">
        <div class="col-12">
            <a class="btn btn-sm btn-primary" href="{{ contest_detail_layout.contest.get_absolute_url }}attempt/"><i class="fas fa-plus-circle"></i> Submit</a>
            {% if user.is_superuser %}
            <a class="btn btn-sm btn-info" href="{{ contest_detail_layout.contest.get_absolute_url }}grades-downloader/"><i class="fas fa-file-csv"></i> Extract grades</a>
            <a class="btn btn-sm btn-info" href="{{ contest_detail_layout.contest.get_absolute_url }}zip-downloader/"><i class="fas fa-file-archive"></i> Extract Files</a>
            {% endif %}
        </div>

        <div class="col-6">
            {% include "components/general/contest_details.html" %}
        </div>
        <div class="col-6">
            {% include "components/teams/team_submission_status.html" %}
        </div>
        <div class="col-6">
            {% include "components/teams/team_members.html" %}
        </div>
        <div class="col-12">
            {% include "components/general/contest_rankings.html" %}
        </div>
        <div class="col-12">
            {% include "components/teams/team_submission_history.html" %}
        </div>
    </div>
{% endblock %}