<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Team list</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-responsive-lg table-hover dataTablePandora" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Members</th>
                    <th>Grade</th>
                    <th>Submissions</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for team in admin_team_list.teams %}
                    <tr>
                        <td>{{ team.id }} </td>
                        <td>{{ team.name }} </td>
                        <td>
                            {% if team.getUsers %}
                                {% for member in team.getUsers %}
                                    <a class="btn btn-sm btn-info"
                                       href="{% url "admin_users_user_form" member.id %}"><i
                                            class="fas fa-user"></i> {{ member.profile.number }}
                                        - {{ member.get_full_name }}</a>
                                {% endfor %}
                            {% else %}
                                No users assigned yet.
                            {% endif %}
                        </td>
                        <td>
                            {{ team.getLatestAttempt.grade }}
                        </td>
                        <td>
                            {{ team.getAttempts.count }}
                        </td>
                        <td>
                            <a class="btn btn-sm btn-info"
                               href="{% url 'manager_contests_detail_team_detail' team.contest.id team.id %}">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a class="btn btn-sm btn-warning"
                               href="{% url 'manager_contests_detail_team_edit' team.contest.id team.id %}">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>