{% load helpers %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Submissions over 30 days</h6>
    </div>
    <div class="card-body">
        <div class="chart-bar">
            <canvas id="submissionsChart"></canvas>
        </div>
    </div>
</div>


<script>
    function getDaysFromDateToToday(date, today) {
        var dateHelper = new Date(date);
        var days = [];
        while (!(dateHelper.getFullYear() === today.getFullYear() && dateHelper.getMonth() === today.getMonth() && dateHelper.getDate() === today.getDate())) {
            dateHelper.setDate(dateHelper.getDate() + 1)
            days.push(new Date(dateHelper));
        }
        return days;
    }

    function correctMonth(month){

    }

    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';

    var ctx = document.getElementById("submissionsChart");
    var submissions = {{ admin_contests_submissions_chart.submissions | js}};
    var cleanedSubmissions = [];
    var today = new Date()
    var lastThirtyDays = new Date(new Date().setDate(today.getDate()-30));
    let days = getDaysFromDateToToday(lastThirtyDays, today)
    let json = {};
    for (let d of days) {
        json['' + d.getDate() + '/' + (d.getMonth()+1)] = 0;
    }
    for (let s of submissions){
        let dateAux = new Date(s.date);
        if(dateAux.getTime() > lastThirtyDays.getTime() && dateAux.getTime() < today.getTime()) {
            json['' + dateAux.getDate() + '/' + (dateAux.getMonth()+1)] += 1;
        }
    }
    let max = Math.max.apply(null,Object.values(json));
    var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: Object.keys(json),
            datasets: [{
                label: "Submissions",
                backgroundColor: "#4e73df",
                hoverBackgroundColor: "#2e59d9",
                borderColor: "#4e73df",
                data: Object.values(json),
            }],
        },
        options: {
            maintainAspectRatio: false,
            layout: {
                padding: {
                    left: 10,
                    right: 25,
                    top: 25,
                    bottom: 0
                }
            },
            scales: {
                xAxes: [{
                    time: {
                        unit: 'day'
                    },
                    gridLines: {
                        display: false,
                        drawBorder: false
                    },
                    ticks: {
                        maxTicksLimit: 6
                    },
                    maxBarThickness: 25,
                }],
                yAxes: [{
                    ticks: {
                        min: 0,
                        max: max,
                        maxTicksLimit: 5,
                        padding: 10,
                    },
                    gridLines: {
                        color: "rgb(234, 236, 244)",
                        zeroLineColor: "rgb(234, 236, 244)",
                        drawBorder: false,
                        borderDash: [2],
                        zeroLineBorderDash: [2]
                    }
                }],
            },
            legend: {
                display: false
            },
            tooltips: {
                titleMarginBottom: 10,
                titleFontColor: '#6e707e',
                titleFontSize: 14,
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
            },
        }
    });
</script>