{% load static from staticfiles %}
<div class="row pb-3">
    <div class="offset-lg-1 col-lg-10">
        <div class="card shadow">
            <div class="card-header text-center py-3">
                <h5 class="m-0 font-weight-bold text-primary">
                    Results summary for attempt #{{ admin_contests_submissions_details.attempt.id }}</h5>
            </div>
            <div class="card-body text-center">
                <table class="table table-responsive-lg table-bordered">
                    <tbody>
                    <tr>
                        <td>Compilation</td>
                        <td>{% if admin_contests_submissions_details.attempt.compile_error %}0/1{% else %}
                            1/1{% endif %}</td>
                        <td>
                            <h5 class="m-0 p-0 text-{% if admin_contests_submissions_details.attempt.compile_error %}danger{% else %}success{% endif %}">
                                <i
                                        class="fas fa-{% if admin_contests_submissions_details.attempt.compile_error %}times-circle{% else %}check-circle{% endif %}"></i>
                            </h5>
                        </td>
                        <td>
                            <pre class="bg-dark rounded-sm text-white p-2">{{ admin_contests_submissions_details.attempt.error_description }}</pre>
                        </td>
                    </tr>
                    <tr>
                        <td>Mandatory Tests</td>
                        <td>{{ admin_contests_submissions_details.mandatory_passed }}/{{ admin_contests_submissions_details.mandatory_total }}</td>
                        <td>
                            <h5 class="m-0 p-0 text-{% if admin_contests_submissions_details.mandatory_passed < admin_contests_submissions_details.mandatory_total %}danger{% else %}success{% endif %}">
                                <i class="fas fa-{% if admin_contests_submissions_details.mandatory_passed < admin_contests_submissions_details.mandatory_total %}times-circle{% else %}check-circle{% endif %}"></i>
                            </h5>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>General Tests</td>
                        <td>{{ admin_contests_submissions_details.n_passed }}/{{ admin_contests_submissions_details.n_total }}</td>

                        <td>
                            <h5 class="m-0 p-0 text-{% if admin_contests_submissions_details.n_passed < admin_contests_submissions_details.n_total %}danger{% else %}success{% endif %}">
                                <i class="fas fa-{% if admin_contests_submissions_details.n_passed < admin_contests_submissions_details.n_total %}times-circle{% else %}check-circle{% endif %}"></i>
                            </h5>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Classification</td>
                        <td>{{ admin_contests_submissions_details.attempt.grade }}</td>
                        <td>
                            <h5 class="m-0 p-0 text-{% if admin_contests_submissions_details.attempt.grade < 10 %}danger{% elif admin_contests_submissions_details.attempt.grade < 10 and admin_contests_submissions_details.attempt.grade > min_grade %}warning{% else %}success{% endif %}">
                                <i class="fas fa-{% if admin_contests_submissions_details.attempt.grade < 10 %}times-circle{% elif admin_contests_submissions_details.attempt.grade < 10 and admin_contests_submissions_details.attempt.grade > min_grade %}exclamation-triangle{% else %}check-circle{% endif %}"></i>
                            </h5>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Static Analysis</td>
                        <td></td>
                        <td></td>
                        <td>
                            <pre class="bg-dark rounded-sm text-white p-2">{{ admin_contests_submissions_details.attempt.static_analysis }}</pre>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <a class="btn btn-sm btn-info"
                       href="{% url 'manager_contests_detail_submission_download' admin_contests_submissions_details.attempt.contest.id admin_contests_submissions_details.attempt.id %}">
                        Download source code
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row pb-3">
    <div class="col-lg-12">
        <div class="card shadow">
            <div class="card-header text-center py-3">
                <h5 class="m-0 font-weight-bold text-primary">Detailed Results</h5>
            </div>
            <div class="card-body text-center">
                <table class="table table-bordered table-hover table-responsive-lg dataTablePandora" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Test #</th>
                        <th>Weight</th>
                        <th>Time(ms)/Mem(kiB)</th>
                        <th>Type</th>
                        <th>Result</th>
                        <th>Error</th>
                        <th>Args</th>
                        <th>Input</th>
                        <th>Exp./Obt.</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for r in admin_contests_submissions_details.results %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ r.test.weight_pct|floatformat }} &#37;</td>
                            <td>{{ r.execution_time }}/{{ r.memory_usage }}</td>
                            <td>{% if r.test.mandatory %}Mandatory{% else %}General{% endif %}</td>
                            <td>
                                {% if r.passed %}
                                    <i class="fas fa-check-circle text-success"></i>
                                {% else %}
                                    <i class="fas fa-times-circle text-danger"></i>
                                {% endif %}
                            </td>
                            <td>
                                <button type="button"
                                        class="btn btn-sm btn-{% if r.test.view_error %}primary{% else %}secondary{% endif %}"
                                        data-toggle="modal"
                                        data-target="#modal-error{{ forloop.counter }}">More
                                </button>
                            </td>
                            <td>
                                <button type="button"
                                        class="btn btn-sm btn-{% if r.test.view_args %}primary{% else %}secondary{% endif %}"
                                        data-toggle="modal"
                                        data-target="#modal-cmd{{ forloop.counter }}">Args
                                </button>

                            </td>
                            <td>

                                <button type="button"
                                        class="btn btn-sm btn-{% if r.test.view_input %}primary{% else %}secondary{% endif %}"
                                        data-toggle="modal"
                                        data-target="#modal-input{{ forloop.counter }}">Input
                                </button>
                            </td>
                            <td>

                                <button type="button"
                                        class="btn btn-sm btn-{% if r.test.view_diff %}primary{% else %}secondary{% endif %}"
                                        data-toggle="modal"
                                        data-target="#modal-expected{{ forloop.counter }}">Open
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-xl" id="modal-compilation" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Compilation Errors</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre>{{ admin_contests_submissions_details.attempt.error_description }}</pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-xl" id="modal-analysis" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Static Analysis</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre>{{ admin_contests_submissions_details.attempt.static_analysis }}</pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% for r in admin_contests_submissions_details.results %}
    <div class="modal fade bd-example-modal-xl" id="modal-input{{ forloop.counter }}" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Input</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>{{ r.input }}</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-xl" id="modal-cmd{{ forloop.counter }}" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Args</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>{{ r.run_arguments }}</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade bd-example-modal-xl" id="modal-expected{{ forloop.counter }}" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-md-4">
                        <h5 class="modal-title">Expected</h5>
                    </div>
                    <div class="col-md-4">
                        <h5 class="modal-title">Obtained</h5>
                    </div>
                    <div class="col-md-4">
                        <h5 class="modal-title">Diff</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <del style="background:#ffe6e6;"></del>
                            <span>
							{{ r.expected_output }}
						</span>
                        </div>
                        <div class="col-md-4">
                            <del style="background:#ffe6e6;"></del>
                            <span>
							{{ r.output }}
						</span>
                        </div>
                        <div class="col-md-4">
                            {% autoescape off %}{{ r.diff }}{% endautoescape %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-error{{ forloop.counter }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error Description</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>
                        {{ r.error_description }}
                    </pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
