<!-- DataTales Example -->
<div class="card shadow">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Submission List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover dataTablePandoraReversed" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Grade</th>
                    <th>Team</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for submission in admin_contests_submissions_list.submissions %}
                    <tr>
                        <td>{{ submission.id }}</td>
                        <td>{{ submission.grade }}</td>
                        <td>{{ submission.team.name }}</td>
                        <td>{{ submission.date }}</td>
                        <td>
                            <a href="{% url "manager_contests_detail_submissions_details" admin_contest_detail_layout.contest.id submission.getID %}"
                               class="btn btn-primary btn-icon-split btn-sm">
                                <span class="icon text-white-50">
                                    <i class="fas fa-eye"></i>
                                </span>
                                <span class="text">View</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>