<!-- DataTales Example -->
<div class="card shadow">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Submission List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover dataTablePandora" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Grade</th>
                    <th>Team</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for o in admin_contests_submissions_list.submissions %}
                    <tr>
                        <td>{{ o.id }}</td>
                        <td>{{ o.grade }}</td>
                        <td>{{ o.team.name }}</td>
                        <td>{{ o.date }}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="REPLACE_ME">View</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>