{% extends "admin/layouts/base_layout.html" %}
{% block pageContent %}
     <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                <a href="{% url 'manager_home' %}">Dashboard</a>
            </li>
        </ol>
    </nav>
    <hr>
    <div class="row mb-4">
        <div class="col-lg-4 mb-3 mb-lg-0">
            {% include 'admin/components/dashboard/active_users_card.html' %}
        </div>
        <div class="col-lg-4 mb-3 mb-lg-0">
            {% include 'admin/components/dashboard/active_contests_card.html' %}
        </div>
        <div class="col-lg-4">
            {% include 'admin/components/dashboard/last_submissions_card.html' %}
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-12">
            {% include 'admin/components/dashboard/submissions_per_contest.html' %}
        </div>
        <div class="col-12">
            {% include 'admin/components/dashboard/grades_avg_graph.html' %}
        </div>
    </div>
{% endblock %}