{% load helpers %}
<div class="col-lg-6">
    <div class="card shadow">
        <div class="card-header text-center">
            <div class="row px-3">
                <div class="col-4">
                    <a href="{% url 'manager_contest_detail_test_detail_edit' admin_test_details.test.contest.id admin_test_details.test.id %}"
                       class="btn btn-warning btn-sm">
                        <i class="fas fa-pencil-square"></i>
                        Edit Test
                    </a>
                </div>
                <div class="col-4 pt-1">
                    <h5 class="m-0 font-weight-bold text-primary">Details</h5>
                </div>
            </div>
        </div>
        <div class="card-body text-center">
            <table class="table table-responsive-lg">
                <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{ admin_test_details.test.name }}</td>
                </tr>
                <tr>
                    <td>Input File</td>
                    <td>{{ admin_test_details.test.input_file }}</td>
                </tr>
                <tr>
                    <td>Output File</td>
                    <td>{{ admin_test_details.test.output_file }}</td>
                </tr>
                <tr>
                    <td>Mandatory</td>
                    <td>{{ admin_test_details.test.mandatory }}</td>
                </tr>
                <tr>
                    <td>Weight Percentage</td>
                    <td>{{ admin_test_details.test.weight_pct }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="card shadow">
        <div class="card-header text-center py-3">
            <h5 class="m-0 font-weight-bold text-primary">Specifications</h5>
        </div>
        <div class="card-body text-center">
            {% if admin_test_details.test.getSpecifications %}
                <table class="table table-responsive-lg">
                    <tbody>
                    {% for field in admin_test_details.test.getSpecifications.getFields %}
                        <!-- Ignore contest, test, and id fields as they're redundant -->
                        {% if field.name != 'contest' and field.name != 'id' and field.name != 'test' %}
                            <tr>
                                <td>
                                    {{ field.name }}
                                </td>
                                <td>
                                    {% call_method admin_test_details.test.getSpecifications 'getAttribute' field.name %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'manager_contest_detail_test_detail_specification' admin_test_details.test.contest.id admin_test_details.test.id %}">
                    <strong class="d-inline-block mb-1 btn btn-warning">
                        Edit Specifications
                    </strong>
                </a>
            {% else %}
                <p class="text-center">
                    This test uses the default contest specifications.
                </p>
                <hr>
                <a href="{% url 'manager_contest_detail_test_detail_specification' admin_test_details.test.contest.id admin_test_details.test.id %}">
                    <strong class="d-inline-block mb-1 btn btn-success">
                        Create custom specifications
                    </strong>
                </a>

            {% endif %}
        </div>
    </div>
</div>
