{% extends "base.html" %}
{% block content %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">{{ title }}</h1>
</div>

<div class="row justify-content-center align-items-center">
	<div class="col-md-6">
		<div class="card border rounded shadow-sm mb-4 mt-4">
			<div class="card-body text-center">
				<h5 class="car-title mb-2 text-primary">About PANDORA</h5>

				<p class="card-text mb-auto">
				PANDORA is an open source Atomatic Assessment (AA) Tool.
				</p>

				<p class="card-text mb-auto">
				Created by Pedro Serra - 08/2019. Contact: pedro.serra@ulusofona.pt.
				</p>

				<p class="card-text mb-auto">
				GNU Public License v3 (GPLv3).
				</p>

			</div>
		</div>
	</div>	
	
</div>

{% endblock %}
