{% load static from staticfiles %}
<script>
    //feather.replace()
</script>
{% comment %}
<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/feather.min.js' %}"></script>
{% endcomment %}


<!-- Bootstrap core JavaScript-->
<script src="{% static 'startbootstrap/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'startbootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'startbootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'startbootstrap/js/sb-admin-2.min.js' %}"></script>
<script src="{% static 'startbootstrap/vendor/datatables/jquery.dataTables.min.js' %}"></script>

<script src="{% static 'startbootstrap/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
{% comment %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/sl-1.3.1/datatables.min.js"></script>
{% endcomment %}

<!-- Page level plugins -->
<script type="text/javascript" src="{% static 'startbootstrap/vendor/chart.js/Chart.bundle.js' %}"></script>

<!-- XDSoft DateTimePicker -->
<script src="{% static 'datetimepicker/build/jquery.datetimepicker.full.js' %}"></script>

<script src="{% static 'celery_progress/celery_progress.js' %}"></script>

<script>
    $(function () {
      $('[data-bs-toggle="tooltip"]').tooltip()
    })

    var selection = {};

    function checkSelection(input){
        // Check if the number of checked inputs is iquals to the totality of inputs; if true: make it checked.
        $(".select-all-table-" + $(input).attr("data-way")).prop('checked',
            selection[$(input).attr("data-way")] === $(".selected-table-" + $(input).attr("data-way")).length
        );
        // Finaly make the submit button active if there is any input checked
        $(".is-checkbox-select-btn-table-" + $(input).attr("data-way")).prop('disabled', !(selection[$(input).attr("data-way")] > 0));
    }

    function doSelectAll(input){
        // Make all inputs in page checked
        $(".selected-table-" + $(input).attr("data-way")).click().prop("checked", $(input).prop("checked"));
    }

    function doSelect(input){
        // Checks if the selection have the input(data-way) object
        if(!selection[$(input).attr("data-way")]){
            selection[$(input).attr("data-way")] = 0;
        }
        // Make the selection = number of checked inputs
        selection[$(input).attr("data-way")] = $(".selected-table-" + $(input).attr("data-way")+":checked").length

        checkSelection(input);
        console.log(selection[$(input).attr("data-way")]);
    }

    function tablesSelectors(io) {
        $(".submit-btn-table-" + io).click(function (e) {
            $("#form-action-table-" + io).val($(this).val())
            $("#form-table-" + io).submit()
        })
    }

    // Call the dataTables jQuery plugin
    $(document).ready(function () {
        $('.dataTablePandora').DataTable({
            columnDefs: [
              { targets: [0], orderable: false }
            ]
        }).on("page.dt", function(){
            if(selection[$(this).attr("data-way")]){
                selection[$(this).attr("data-way")] = 0;
            }
            $(".selected-table-" + $(this).attr("data-way")).prop("checked", false);
            checkSelection(this)
        });
        $('.dataTablePandoraReversed').DataTable({
            "order": [[0, "desc"]],
            select: true,
            columnDefs: [
              { targets: 'no-sort', orderable: false }
            ]
        }).on("page.dt", function(){
            checkSelection(this)
        })

        tablesSelectors("in")
        tablesSelectors("out")
        /*

        var x = $(".dataTablePandora");
        for (let t of x) {
            let table = $(t).DataTable({
                select: {
                    style: 'multi'
                },
            }).on('select', function (e, dt, type, indexes) {
                if (type === 'row') {
                    var data = table.rows(indexes).data().pluck('id');
                    console.log(indexes)
                    console.log(table.rows( { selected: true } ))
                    console.log(dt)
                    console.log(123)
                    console.log($('input[type="checkbox"]', ))
                    // do something with the ID of the selected items
                }
            });
            // Handle click on "Select all" control
            /*
            $('.select-all-table-out').on('click', function () {
                console.log("check")
                // Check/uncheck all checkboxes in the table
                var rows = table.rows({'search': 'applied'}).nodes();
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });
             */
        //}

    });
</script>
