{% load static from staticfiles %}
<script>
    //feather.replace()
</script>
{% comment %}
<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/feather.min.js' %}"></script>
{% endcomment %}


<!-- Bootstrap core JavaScript-->
<script src="{% static 'startbootstrap/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'startbootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'startbootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'startbootstrap/js/sb-admin-2.min.js' %}"></script>
<script src="{% static 'startbootstrap/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'startbootstrap/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>


<!-- Page level plugins -->
<script type="text/javascript" src="{% static 'startbootstrap/vendor/chart.js/chart.bundle.js' %}"></script>

<!-- XDSoft DateTimePicker -->
<script src="{% static 'datetimepicker/build/jquery.datetimepicker.full.js' %}"></script>

<script>
    function tablesSelectors(io){
        $(".select-all-table-"+io).click(function (e) {
            $(".select-all-table-"+io).prop('checked', this.checked);
            $(".selected-table-"+io).prop('checked', this.checked);
            $(".is-checkbox-select-btn-table-"+io).prop('disabled', !($(".selected-table-"+io+":checked").length > 0));
        });
        $(".selected-table-"+io).click(function (e) {
            let selectedCheckboxes = $(".selected-table-"+io+":checked")
            if (selectedCheckboxes.length === $(".selected-table-"+io).length) {
                $(".select-all-table-"+io).prop('checked', true);
            } else {
                $(".select-all-table-"+io).prop('checked', false);
            }
            $(".is-checkbox-select-btn-table-"+io).prop('disabled', !(selectedCheckboxes.length > 0));
        })
        $(".submit-btn-table-"+io).click(function (e) {
            $("#form-action-table-"+io).val($(this).val())
            $("#form-table-"+io).submit()
        })
    }

    // Call the dataTables jQuery plugin
    $(document).ready(function () {
        $('.dataTablePandora').DataTable();
        tablesSelectors("in")
        tablesSelectors("out")
    });
</script>
