<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'home' %}">
        Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      {% if user.is_active %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contest_list' %}">
            Contests
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">

            My Info
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">
          About
          </a>
        </li>
      {% endif %}

      {% if user.is_superuser %}
        <h6
          class="
              sidebar-heading
              d-flex
              justify-content-between
              align-items-center
              px-3
              mt-4
              mb-1
              text-muted">
          <span>
            Admin
          </span>
        </h6>
        <li class="nav-item">
          <a class="nav-link" href="/admin">

            Admin
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin-view/contest-creation">

            Create Contest
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin-view/test-creation">

            Create Tests
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
