<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link {% if '/contests' not in request.path and '/profile' not in request.path and '/about' not in request.path %}active{% endif %}" href="{% url 'home' %}">
        Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      {% if user.is_active %}
        <li class="nav-item">
          <a class="nav-link {% if '/contests' in request.path %}active{% endif %}" href="{% url 'user_contests_home' %}">
            Contests
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if '/profile' in request.path %}active{% endif %}" href="{% url 'profile' %}">
            My Info
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if '/about' in request.path %}active{% endif %}" href="{% url 'about' %}">
          About
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
