<form method='POST' action='contest' enctype='multipart/form-data'> {% csrf_token %}

    <div class="row justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="card border rounded shadow-sm mb-4 mt-4">
                <div class="card-body">
                    <h5 class="car-title mb-2 text-primary" align="center">
                        {% for t in test %}
                            Test: {{ t|upper }}
                        {% endfor %}
                    </h5>
                    {% for t in test %}
                        <table class="table">
                            <tr align="center">
                                <th>Override exec options</th>
                                <td align="left">
                                    {% if t.override_exec_options == True %}
                                        <input type="checkbox" id="m" name="override" checked>
                                    {% else %}
                                        <input type="checkbox" id="m" name="override">
                                    {% endif %}
                                </td>
                            </tr>

                            <tr align="center">
                                <th>CPU</th>
                                <td align="left">
                                    <input type="number" name="cpu" value={{ t.cpu }}>
                                </td>
                            </tr>

                            <tr align="center">
                                <th>Memory</th>
                                <td align="left">
                                    <input type="number" name="mem" value={{ t.mem }}>
                                </td>
                            </tr>

                            <tr align="center">
                                <th>Space</th>
                                <td align="left">
                                    <input type="number" name="space" value={{ t.space }}>
                                </td>
                            </tr>

                            <tr align="center">
                                <th>Number of cores</th>
                                <td align="left">
                                    <input type="number" name="core" value={{ t.core }}>
                                </td>
                            </tr>

                            <tr align="center">
                                <th>NProc</th>
                                <td align="left">
                                    <input type="number" name="nproc" value={{ t.nproc }}>
                                </td>
                            </tr>

                            <tr align="center">
                                <th>File size</th>
                                <td align="left">
                                    <input type="number" name="fsize" value={{ t.fsize }}>
                                </td>
                            </tr>

                            <tr align="center">
                                <th>Stack</th>
                                <td align="left">
                                    <input type="number" name="stack" value={{ t.stack }}>
                                </td>
                            </tr>

                            <tr align="center">
                                <th>Clock</th>
                                <td align="left">
                                    <input type="number" name="clock" value={{ t.clock }}>
                                </td>
                            </tr>
                        </table>
                    {% endfor %}
                    <p class="card-text mb-auto" align="center">

                        <button class="btn btn-secondary" name="test_id" type='submit' style="background-color: #005cbf"
                                value="Save"
                                {#{{ mandatory.choice_value }} {{ t.weight_pct }} {{ t.use_for_time_benchmark }} {{ t.use_for_memory_benchmark }} {{ t.type_of_feedback }}"#}
                                onclick="alert('Changes saved')">
                            Save
                        </button>

                    </p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</form>