{% load crispy_forms_tags %}
<div class="row justify-content-center align-items-center">
    <div class="col-md-8">
        <div class="card border rounded shadow-sm mb-4 mt-4">
            <div class="card-body">
                <h5 class="car-title mb-2 text-primary">{% if title %}{{ title }}{% endif %}</h5>
                <form method='POST' action='contest' enctype='multipart/form-data'> {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>