<div class="card border rounded shadow-sm">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-4">
                <h6 class="m-0 font-weight-bold text-primary">Users in group</h6>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form action="" method="POST" id="group-user-form">{% csrf_token %}
            <input type="hidden" id="group-user-form-action" name="action" value="">
            <div class="table-responsive">
                <table class="table table-bordered table-hover dataTablePandora">
                    <thead>
                    <tr>
                        <th class="text-center"><input type="checkbox" class="select-all-group-users-table"></th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Number</th>
                        <th>IsValid</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile in admin_group_users_list.user_profiles %}
                        <tr>
                            <td class="text-center">
                                <input type="checkbox" class="select-group-user" name="user_id"
                                       value="{{ profile.user.id }}">
                            </td>
                            <td>{{ profile.user.email }}</td>
                            <td>{{ profile.user.get_full_name }}</td>
                            <td>{{ profile.number }}</td>
                            <td>
                                <i class="fas fa-{% if user.profile.isValid %}check-circle{% else %}times-circle{% endif %} {% if user.profile.isValid %}text-success{% else %}text-danger{% endif %}"></i>
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="{% url 'admin_users_user_form' profile.user.id %}"><i
                                        class="fas fa-pen"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
<script>
    $(".select-all-group-users-table").click(function (e) {
        $(".select-all-group-users-table").prop('checked', this.checked);
        $(".select-group-user").prop('checked', this.checked);
        $(".is-checkbox-select-btn-group-users-table").prop('disabled', !($(".select-group-user:checked").length > 0));
    });
    $(".select-group-user").click(function (e) {
        let selectedCheckboxes = $(".select-group-user:checked")
        if (selectedCheckboxes.length === $(".select-group-user").length) {
            $(".select-all-group-users-table").prop('checked', true);
        } else {
            $(".select-all-group-users-table").prop('checked', false);
        }
        $(".is-checkbox-select-btn-group-users-table").prop('disabled', !(selectedCheckboxes.length > 0));
    })
    $(".submit-btn-group-users-table").click(function (e) {
        $("#group-user-form-action").val($(this).val())
        $("#group-user-form").submit()
    })
</script>