{% load static from staticfiles %}

<div class="row justify-content-center align-items-center">
	<div class="col-md-6">
		<div class="card border rounded shadow-sm mb-4 mt-4">
			<div class="card-body text-center">
				<h5 class="car-title mb-2 text-primary">Results Summary</h5>
				<p class="card-text mb-auto">
					<table class="table">
						<tbody>
							<tr>
								<td>Compilation</td>
								<td>{% if atempt.compile_error %}
									<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-compilation"><span class="oi oi-x"></span></button>
								{% else %}<span class="oi oi-check text-success"></span>{% endif %}</td>
							</tr>
							<tr>
								<td>Mandatory Tests</td>
								<td>{{ mandatory_passed }}/{{ mandatory_total }}</td>
							</tr>
							<tr>
								<td>General Tests</td>
								<td>{{ n_passed }}/{{ n_total }}</td>
							</tr>
							<tr>
								<td>Classification</td>
								<td>{{ atempt.grade }}</td>						
							</tr>
							<tr>
								<td>Static Analysis</td>
								<td>
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-analysis">Open</button>
								</td>					
							</tr>							
						</tbody>
					</table>
				</p>
			</div>
		</div>
	</div>	
</div>

<div class="row justify-content-center align-items-center">
	<div class="col-md-12">
		<div class="card border rounded shadow-sm mb-4 mt-4">
			<div class="card-body text-center">
				<h5 class="car-title mb-2 text-primary">Detailed Results</h5>
				<p class="card-text mb-auto">
					<table class="table">
						<thead>
							<tr>
								<th>Test #</th>
								<th>Weight </th>
								<th>Time(ms)/Mem(kiB)</th>
								<th>Type</th>
								<th>Result</th>
								<th>Info</th>
								<th>Args</th>
								<th>Input</th>
								<th>Exp./Obt.</th>
							</tr>
						</thead>
						<tbody>
						{% for r in results %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ r.test.weight_pct|floatformat }} &#37;</td>
								<td>{{ r.execution_time }}/{{ r.memory_usage }}</td>					
								<td>{% if r.test.mandatory %}Mandatory{% else %}General{% endif %}</td>
								<td>{% if r.passed %}<span class="oi oi-check text-success"></span>{% else %}<span class="oi oi-x text-danger"></span>{% endif %}</td>
								<td>
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-error{{ forloop.counter }}">More</button>
								</td>
								<td>
									{% if r.test.type_of_feedback == 1 %}
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-cmd{{ forloop.counter }}">Args</button>
									{% elif user.is_superuser %}
									<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-cmd{{ forloop.counter }}">Args</button>
									{% endif %}									
								</td>								
								<td>
									{% if r.test.type_of_feedback == 1 %}
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-input{{ forloop.counter }}">Input</button>
									{% elif user.is_superuser %}
									<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-input{{ forloop.counter }}">Input</button>
									{% endif %}									
								</td>								
								<td>
									{% if r.test.type_of_feedback <= 2 %}
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-expected{{ forloop.counter }}">Open</button>
									{% elif user.is_superuser %}
									<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-expected{{ forloop.counter }}">Open</button>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</p>
			</div>
		</div>
	</div>	
</div>

<div class="modal fade bd-example-modal-xl" id="modal-compilation" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Compilation Errors</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
<pre>{{ atempt.error_description }}</pre>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade bd-example-modal-xl" id="modal-analysis" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Static Analysis</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
	<pre>{{ atempt.static_analysis }}</pre>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

{% for r in results %}
{% if r.test.type_of_feedback == 1 or user.is_superuser %}
<div class="modal fade bd-example-modal-xl" id="modal-input{{ forloop.counter }}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Input</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
<pre>{{ r.input }}</pre>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade bd-example-modal-xl" id="modal-cmd{{ forloop.counter }}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Args</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
			{% if r.test.run_arguments != None %}			
<pre>{{ r.test.run_arguments }}</pre>
			{% endif %}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endif %}

{% if r.test.type_of_feedback <= 2 or user.is_superuser %}
<div class="modal fade bd-example-modal-xl" id="modal-expected{{ forloop.counter }}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col-md-4">
					<h5 class="modal-title">Expected</h5>
				</div>
				<div class="col-md-4">
					<h5 class="modal-title">Obtained</h5>
				</div>
				<div class="col-md-4">
					<h5 class="modal-title">Smash</h5>						
				</div>					
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4">
						<del style="background:#ffe6e6;"> </del>
						<span>
							{{ r.expected_output }}
						</span>
					</div>
					<div class="col-md-4">
						<del style="background:#ffe6e6;"> </del>
						<span>					
							{{ r.obtained_output }}
						</span>	
					</div>
					<div class="col-md-4">
						{% autoescape off %}{{ r.diff }}{% endautoescape %}
					</div>					
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endif %}
<div class="modal fade" id="modal-error{{ forloop.counter }}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Error Description</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
<pre>
{% if r.result == 0 %}
OK
{% elif r.result == 1 %}
Wrong Answer
Output different than expected
{% elif r.result == 2 %}
Time Limit Exceeded
{% elif r.result == 4 %}
Time Limit Exceeded
Reached the 2 Timeouts Limit. Aborting the test execution.
{% endif %}
</pre>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endfor %}
