{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">{{ contest.short_name }} - {{ contest.title }}: {{ title }}</h1>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="card border rounded shadow-sm mb-4 mt-4">
			<div class="card-body text-center">
				<h5 class="car-title mb-2 text-primary">{{ team.name }}</h5>
				<p class="card-text mb-auto">

					<table class="table">
						<tbody>
							{% for m in team.members %}
							<tr>
								<td>{{ m.user.username }}</td>
								<td>{{ m.user.profile.number }}</td>
							</tr>
							{% endfor %}	
						</tbody>
					</table>
				</p>
			</div>
		</div>
	</div>	
	<div class="col-md-6">
		<div class="card border rounded shadow-sm mb-4 mt-4">
			<div class="card-body text-center">
				<h5 class="car-title mb-2 text-primary">Current Status</h5>
				<p class="card-text mb-auto">

					<table class="table">
						<tbody>
							<tr>
								<td>Classification</td>
								<td>{{ last_classification }}</td>
							</tr>							
							<tr>
								<td>Number of Submissions</td>						
								<td>{{ number_of_submitions }}</td>
							</tr>
							<tr>
								<td>Time Benchmark</td>						
								<td>{{ last_execution_time }} (ms)</td>
							</tr>
								<td>Memory Benchmark</td>						
								<td>{{ last_memory_usage }} (kiB)</td>
							</tr>						

						</tbody>
					</table>
				</p>
			</div>
		</div>
	</div>
</div>


<div class='row'>
	<div class="col-md-12">
		<div class="card border rounded shadow-sm mb-4">
			<div class="card-body text-center">
				<h5 class="car-title mb-2 text-primary">Submition History</h5>
				<p class="card-text mb-auto">			
					<table class="table">
						<thead>
							<tr>
								<th>Atempt #</th>
								<th>User</th>
								<th>When</th>
								<th>Comment</th>						
								<th>Time [ms]</th>
								<th>Mem [kbytes]</th>
								<th>Grade</th>
							</tr>
						</thead>
						<tbody>
						{% for a in atempts %}
							<tr>
								<td><a class="btn btn-sm btn-outline-secondary" href="{{ a.get_absolute_url }}">{{ forloop.revcounter }}</a></td>
								<td>{{ a.user.username }}</td>
								<td>{{ a.date }}</td>
								<td>{{ a.comment }}</td>
								<td>{{ a.time_benchmark }}</td>					
								<td>{{ a.memory_benchmark }}</td>					
								<td>{{ a.grade }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</p>
			</div>
		</div>
	</div>
</div>


{% endblock %}
