{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-white rounded bg-dark mt-4">
	<h1 class="display-4 font-italic">{{ contest.short_name }} - {{ contest.title }}</h1>
	<div class="mb-1 text-muted">From {{ contest.start_date }} to {{ contest.end_date }}</div>
	<div class="mb-1 text-muted">Min team elements = {{ contest.min_team_members }}, max team elements={{ contest.max_team_members }}</div>
	<div class="mb-1 text-muted">Maximum classification: {{ contest.max_classification }}</div>
	<p class="lead my-3">{{ contest.description }}</p>
	<a href="{{ contest.sow.url }}"><strong class="d-inline-block mb-2 text-success">Statement Of Work</strong></a>
</div>
{% endblock %}
