{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">{{ title }}</h1>
</div>

<div class="row">

	<div class="col-md-6">
		<div class="card border rounded shadow-sm">
			<div class="card-body text-center">
				<h5 class="car-title mb-2 text-success">Open Contests</h5>
				<p class="card-text mb-auto">

					<table class="table">
						<thead>
							<tr>
							<th scope="col">Contest</th>
							<th scope="col">Start</th>
							<th scope="col">End</th>
							<th scope="col">Time Left</th>
						</tr>
						</thead>
						<tbody>
							{% for o in object_list %}
							{% if o.is_open %}
							<tr>
								<td scope="row"><a href="{{ o.get_absolute_url }}">{{ o.short_name }}</a></td>
								<td>{{ o.start_date }}</td>
								<td>{{ o.end_date }}</td>
								<td>{{ o.end_date|timeuntil }}</td>
							</tr>
							{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</p>
			</div>
		</div>
	</div>


	<div class="col-md-6">
		<div class="card border rounded shadow-sm">
			<div class="card-body text-center">
				<h5 class="car-title mb-2 text-danger">Closed Contests</h5>
				<p class="card-text mb-auto">

					<table class="table">
						<thead>
							<tr>
							<th scope="col">Contest</th>
							<th scope="col">Start</th>
							<th scope="col">End</th>
						</tr>
						</thead>
						<tbody>
							{% for o in object_list %}
							{% if not o.is_open %}
							<tr>
								<td scope="row"><a href="{{ o.get_absolute_url }}">{{ o.short_name }}</a></td>
								<td>{{ o.start_date }}</td>
								<td>{{ o.end_date }}</td>
							</tr>
							{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</p>
			</div>
		</div>
	</div>
</div>


{% endblock %}