{% extends "base.html" %}
{% block content %}
<div class='row'>
	<div class="col-md-12">
		<div class="card border rounded shadow-sm mb-4 mt-4">
			<div class="card-body text-center">
				<h5 class="car-title mb-2 text-primary">Contest Ranking</h5>
				<p class="card-text mb-auto">			
					<table class="table">
						<thead>
							<tr>
								<th>Place #</th>
								<th>Team</th>
								<th>Grade</th>
								<th>Time</th>
								<th>Memory</th>
								<th>Submitions</th>
							</tr>
						</thead>
						<tbody>
							{% for a in atempts %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ a.team.name }}</td>
								<td>{{ a.grade }}</td>
								<td>{% if a.time_benchmark == maxsize %}Inf{% else %}{{ a.time_benchmark }} (&mu;s){% endif %}</td>
								<td>{% if a.memory_benchmark == maxsize %}Inf{% else %}{{ a.memory_benchmark }} (kbytes){% endif %}</td>
								<td>{{ a.atempts }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
