{% extends "base.html" %}
{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">{{ contest.short_name }} - {{ contest.title }}: {{ title }}</h1>
</div>

<div class="row justify-content-center align-items-center">
	<div class="col-md-6">
		<div class="card border rounded shadow-sm mb-4 mt-4">
			<div class="card-body text-center">
				<h5 class="car-title mb-2 text-primary">{{ contest.short_name }} / {{ team.name }} ({% if team.active %} Active {% else %} Waiting for Admin Activation {% endif %})</h5>
				<form method='POST' action='.' enctype='multipart/form-data'> {% csrf_token %}

				<p class="card-text mb-auto">
		

					<table class="table">
						<thead>
							<tr>
								<th scope="col">Member</th>
								<th scope="col">Number</th>
								<th scope="col">Status</th>
								<th scope="col"></th>
								<th scope="col"></th>
							</tr>
						</thead>						

						<tbody>
							{% for object in team.members %}
							<tr>
								<td>{{ object.user.username }}</td>
								<td>{{ object.user.profile.number }}</td>
								<td>{% if object.approved %} Integrated {% else %} Waiting {% endif %}</td>

							{% if object.approved %}
								<td></td>
								<td></td>
							{% elif can_approve %}
								<td><button class="btn btn-secondary btn-sm" name="member_id" type='submit' value="{{ object.id }}">Approve</button></td>
								<td><button class="btn btn-secondary btn-sm" name="member_id_remove" type='submit' value="{{ object.id }}">Remove</button></td>
							{% elif object.user.id == request.user.id %}
								<td></td>
								<td><button class="btn btn-secondary btn-sm" name="member_id_remove" type='submit' value="{{ object.id }}">Remove</button></td>
							{% else %}
								<td></td>
								<td></td>
							{% endif %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</p>

					{% if messages %}
						{% for message in messages %}
							<div class="alert alert-danger" role="alert">{{ message|safe }}</div>
						{% endfor %}
					{% endif %}	

				{% if can_delete %}
					<button class="btn btn-warning btn-sm" name="team_delete" type='submit' value="{{ team.id }}">Delte Team</button>
				{% else %}
				<div class="alertalert-dark" role="alert">
					This team can not be deleted.
				</div>    
				{% endif %}
</form>

			</div>
		</div>
	</div>	
	
</div>




{% endblock %}
