{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">{{ contest.short_name }} - {{ contest.title }}: {{ title }}</h1>
</div>


    <div class="jumbotron text-white rounded bg-dark mt-4">
        <h1 class="display-4 font-italic">Join a Team</h1>
        <p class="lead my-3">Select a team from the list below. If there are no teams, or if you can't find your team you can always...</p>
        <a href="{{ contest.get_absolute_url }}team/"><strong class="d-inline-block mb-2 text-success">Create a New Team</strong></a>
    </div>


    <form method='POST' action='.' enctype='multipart/form-data'> {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message|safe }}</div>
            {% endfor %}
        {% endif %}

        {% for team in teams %}
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6">
                    <div class="card border rounded shadow-sm mb-4 mt-4">
                        <div class="card-body text-center">
                            <h5 class="car-title mb-2 text-primary">
                            {{ contest.short_name }} / {{ team.name }} ({% if team.active %} Active {% else %} Waiting for Admin Activation {% endif %})</h5>
                            <p class="card-text mb-auto">


                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Member</th>
                                            <th scope="col">Number</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for object in team.members %}
                                        <tr>
                                            <td>{{ object.user.username }}</td>
                                            <td>{{ object.user.profile.number }}</td>
                                            <td>{% if object.approved %} Integrated {% else %} Waiting {% endif %}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </p>

                            {% if team.room_left > 0 or has_team %}
                                <button class="btn btn-secondary" name="team_id" type='submit' value="{{ team.id }}">Join this team</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </form>
{% endblock %}
