{% extends "base.html" %}
{% block content %}
	<form method='POST' action='.' enctype='multipart/form-data'> {% csrf_token %}
		<div class='row'>
			<div class="col-md-12">
				<div class="card border rounded shadow-sm mb-4 mt-4">
					<div class="card-body text-center">
						<h5 class="car-title mb-2 text-primary">Contest: {{ contest.short_name|upper }}</h5>
						<p class="card-text mb-auto">
							<table class="table">
								<thead>
									<tr>
										<th>Test ID</th>
										<th>Mandatory</th>
										<th>Weight</th>
										<th>Type of feedback</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for t in tests %}
									<tr>
										<td>{{ t.id }}</td>
										<td>
											{% if t.mandatory == True %}
												<input type="checkbox" id="m" name="mandatory{{ t.id }}" checked>
											{% else %}
												<input type="checkbox" id="m" name="mandatory{{ t.id }}">
											{% endif %}
										</td>
										<td>
											<input type="number" name="weight" value={{ t.weight_pct }}>
										</td>
										<td>
											<input type="number" name="feedback" value={{ t.type_of_feedback }}>
										</td>
										<td>
											<button class="btn btn-secondary" name="test_id" type='submit' style="background-color: #005cbf"
												value="Edit {{ t.id }}" {#{{ mandatory.choice_value }} {{ t.weight_pct }} {{ t.type_of_feedback }}#}>
												Save
											</button>
											<button class="btn btn-secondary" name="test_id" type='submit' value={{ t.id }}>
												Edit
											</button>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</p>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
